*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
zftal-evaluation-core/.classpath
zftal-questionnaire-core/.settings/org.eclipse.m2e.core.prefs
zftal-questionnaire-core/.settings/
zftal-questionnaire-core/.classpath
zftal-questionnaire-core/.myumldata
zftal-questionnaire-core/.project
zftal-evaluation-core/.project
zftal-evaluation-core/.settings/
zftal-evaluation-web/.settings/
zftal-evaluation-web/.project
zftal-evaluation-web/.mymetadata
zftal-evaluation-web/.classpath
zftal-questionnaire-web/.settings/
zftal-questionnaire-web/.project
zftal-questionnaire-web/.myumldata
zftal-questionnaire-web/.classpath
zftal-questionnaire-web/.mymetadata
