<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.wjdc.dao.daointerface.IWjglDao">
	
		<!-- 查询单位列表 -->
	<select id="getPagedList" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel"
			resultType="com.zfsoft.wjdc.dao.entites.WjglModel">
		select * from (
			select wjid,
			       wjmc,
			       wjlx,
			       wjzt,
			       jsy,
			       jwy,
			       wjzf,
			       cjr,
			       cjsj,
			       gqsj,
			       model_id,
			       (select mc from WJDC_WJLXB b where a.wjlx = b.dm) wjlxmc,
			       b.xm cjrmc
			  from WJDC_WJXXB a
			  left join zftal_xtgl_yhb b
			    on a.cjr = b.zgh
		) a
		<where> a.model_id IS NULL
			<if test="wjmc != null and wjmc != ''">
				and a.wjmc like '%'||#{wjmc}||'%'
			</if>
			<if test="wjlx != null and wjlx != ''">
				and a.wjlx = #{wjlx}
			</if>
			<if test="wjzt != null and wjzt != ''">
				and a.wjzt = #{wjzt}
			</if>
			<if test="cjrmc != null and cjrmc != ''">
				and a.cjrmc like '%'||#{cjrmc}||'%'
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel">
		insert into WJDC_WJXXB(wjid,wjmc,wjlx,wjzt,jsy,jwy,wjzf,dags,cjr) 
		values(#{wjid},#{wjmc},#{wjlx},#{wjzt},#{jsy},#{jwy},#{wjzf},#{dags},#{cjr})
	</insert>
	
	<select id="getModel" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel"
			resultType="com.zfsoft.wjdc.dao.entites.WjglModel">
		select * from WJDC_WJXXB where wjid=#{wjid}
	</select>
	
	<update id="update" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel">
		update WJDC_WJXXB set wjmc=#{wjmc},wjlx=#{wjlx},jsy=#{jsy},jwy=#{jwy},wjzf=#{wjzf},dags=#{dags} where wjid=#{wjid}
	</update>
	
	<delete id="delete" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel">
		delete from WJDC_WJXXB where wjid=#{wjid}
	</delete>
	
	<delete id="deleteWjSt" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel">
		delete from WJDC_WJSTB where wjid=#{wjid}
	</delete>
	
	<delete id="deleteWjStXx" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel">
		delete from WJDC_WJSTXXB where wjid=#{wjid}
	</delete>
	
	<update id="updateWjzt" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel">
		update WJDC_WJXXB set wjzt=#{wjzt} where wjid=#{wjid}
	</update>
	
	<!-- 获取问卷相关人数 -->
	<select id="getWjxgrs" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel"
		resultType="java.util.HashMap">
		select count(decode(djzt,'已答卷',1)) ydjrs,count(1) ffrs from wjdc_djrffb where wjid=#{wjid} 
	</select>
	
	<!-- 获取问卷功能约束 -->
	<select id="getWjgnysList" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel"
		resultType="java.util.HashMap">
		select a.*,decode(b.wjid,null,'','checked="checked"') checked from wjdc_wjgnysdmb a left join 
		(select * from wjdc_wjgnysb where wjid=#{wjid}) b 
		on a.ysgndm=b.ysgndm 
	</select>
	
	<!-- 删除问卷功能约束 -->
	<delete id="deleteWjgnys" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel">
		delete from wjdc_wjgnysb where wjid=#{wjid}
	</delete>
	
	<!-- 插入问卷功能约束 -->
	<insert id="insertWjgnys" parameterType="com.zfsoft.wjdc.dao.entites.WjglModel">
		insert into wjdc_wjgnysb select * from (
		<foreach collection="ysgndms" item="item" index="index"
				separator=" union all ">
				select #{wjid} wjid,#{item} ysgndm from dual 
		</foreach>
		)
	</insert>
	
</mapper>
	
